
/* HEADER ========================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:500&display=swap');

body {
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.info_on_top {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.header {
    background-image: linear-gradient(rgba(37, 37, 37, 0.6), rgba(63, 61, 61, 0.6)),url(../assets/logo-wallpaper/header-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.communication_tools a {
    text-decoration: none;
    color: rgb(8, 8, 7);
}

.inline_block{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}


.button_tools {
    border-radius: 30px;
    border-color: rgba(187, 153, 99, 0.63);
    margin: 0px 10px;
}

.login_button {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(155, 156, 138);
    background-color: rgb(51, 49, 22, 0.6);
    cursor: pointer;
}

.cart_button {
    display: inline-block;
    padding: 10px;
    color: rgb(155, 156, 138);
    background-color: rgb(51, 49, 22, 0.6);
    cursor: pointer;
}

.login_button:hover, .cart_button:hover, .button-to-top:hover {
    background-color: rgba(80, 78, 60, 0.6);
    box-shadow: 0px 8px 8px 0px rgb(32, 32, 32);
}

.main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    padding-bottom: 20px;
}

.navbar li a {
    font-size: 60px;
    color:rgb(176, 180, 113);
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 30px;
    
}

.navbar li a {
    transition: all 0.3 ease 0s;
}

.navbar li a:hover{
   color:rgb(118, 121, 84) ;
}




/* MAIN =================================*/ 

section {
    background: white;
    color:gray;
    padding: 20px;
    margin: 1.5px;
    display: flex;
    flex-direction:row;
    text-align: center;
    font-size:10px;
}

section img {
    border: 0.5px solid white;
    border-radius: 50%;
    box-shadow:gray 0px 0px 10px;
    width:200px;


}

.title {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background: yellow;
    text-align:center;
    margin:auto;
   
}

h4 {
    margin-top:10px;
}

/* FOOTER ========================== */

.navigation_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.nav-bottom li a{
    font-size: 40px;
}

.footer {
    height: 300px;
    background-image: linear-gradient(rgba(37, 37, 37, 0.6), rgba(94, 91, 91, 0.6)),url(../assets/logo-wallpaper/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div-to-top {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.button-to-top {
    display: inline-block;
    padding: 3px;
    font-size: 25px;
    border-radius: 30px;
    color: rgb(155, 156, 138);
    background-color: rgba(71, 71, 64, 0.5);
    cursor: pointer;
    border-color: rgba(187, 153, 99, 0.63);
    width: 15%;

}

.button-to-top a {
    text-decoration: none;
    color: rgb(8, 8, 7);
    color: black;
    font-family: 'Dancing Script', cursive;
    
}

.copyrights p {
    text-align: center;
}

