@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

body {
    /* background: white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.intro {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.header {
    background-image: linear-gradient(rgba(37, 37, 37, 0.6), rgba(32, 32, 32, 0.6)),url(../assets/logo-wallpaper/header-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.communication a {
    text-decoration: none;
    color: rgb(8, 8, 7);

}

.inline{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}


.btn {
    border-radius: 30px;
    border-color: rgba(187, 153, 99, 0.63);
    margin: 0px 10px;
}

.log-in {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(155, 156, 138);
    background-color: rgb(51, 49, 22, 0.6);
    cursor: pointer;

    

}

.cart {
    display: inline-block;
    padding: 10px;
    color: rgb(155, 156, 138);
    background-color: rgb(51, 49, 22, 0.6);
    cursor: pointer;

}

.log-in:hover{
    padding: 11px;
    background-color: rgba(80, 78, 60, 0.6);
}

.cart:hover{
    padding: 11px;
    margin-left: 9px;
    background-color: rgba(80, 78, 60, 0.6);

}


.headline {
    /* background-color: rgb(187, 236, 236); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    
}

.navbar li a {
    font-size: 40px;
    color:rgb(176, 180, 113);
    text-decoration: none;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
    
}

.navbar li a {
    transition: all 0.3 ease 0s;
}

.navbar li a:hover{
   color:rgb(118, 121, 84) ;
}




/* MAIN =================================*/ 

section {
    background: white;
    color:gray;
    padding: 20px;
    margin: 1.5px;
    display: flex;
    flex-direction:row;
    text-align: center;
    font-size:10px;
}

section img {
    border: 0.5px solid white;
    border-radius: 50%;
    box-shadow:gray 0px 0px 10px;
    width:200px;


}

.title {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background: yellow;
    text-align:center;
    margin:auto;
   
}

h4 {
    margin-top:10px;
}


footer {
    background: red;
    padding: 10px 20px
}


