@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* colors

    price-bg: #CC1149;
    item-name: #383434;
    header-footer: #C8B273;

*/

*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow-x: hidden;
}

p {
    margin: 0 0 0 0;
}


/* START HEADER */

.header-Contact {
    padding: 8px 139px;
    background-color: #c8b273;
    height: 40px;
}

.headerParagraph {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
}

.envelopeHeader {
    margin-right: 17.5px;
}

.phoneHeader {
    margin-left: 51.7px;
    margin-right: 14.7px;
}

.headerNavBar {
    margin: 65px 179px 142px 157px;
    display: flex;
    align-items: center;
    position: relative;
}

.logoHeader {
    height: 116px;
}

.logoText {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-left: 30px;
    color: #c8b273;
}

.navBarLinks {
    display: flex;
    position: absolute;
    align-items: center;
    right: 0;
}

.navBarLinks div {
    font-family: 'Raleway', sans-serif;
    color: #c8b273;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin-right: 55px;
}

.navBarLinks div:hover {
    cursor: pointer;
    color: rgb(250, 177, 115);
}

.navBarLinks div:last-child {
    margin-right: 0px;
}

.cartButton {
    position: relative;
}

.inCartQuantity {
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
    border: 0;
    background-color: #c8b273;
    width: 28px;
    height: 28px;
    border-radius: 15px;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -10px;
}

#loginButton {
    border: 0px;
    background-color: #c8b273;
    color: white;
    padding: 10px 47px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
}

#loginButton:hover {
    color: #c8b273;
    background-color: white;
}


/* END HEADER */


/* START MAINPAGE */

.main-container {
    margin-bottom: 110px;
}

.titleForPages {
    font-family: 'Raleway', sans-serif;
    color: #c8b273;
    font-size: 32px;
    margin-left: 139px;
    margin-bottom: 50px;
}

.centeredContainer {
    display: flex;
    justify-content: center;
}

.centeredContainer .col-sm-2 {
    padding: 0 0 0 0;
}

.flex-sm-column {
    margin-top: 25px;
    height: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
}

.cardImageContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.cardImageContainer:hover .card-img-top,
.cardImageContainer:focus .card-img-top {
    transform: scale(1.2);
}

.cardImageContainer:hover .card-img-top:before,
.cardImageContainer:focus .card-img-top:before {
    display: block;
}


/* onerror */

.onerrorImage {
    height: 235px !important;
    width: 382px !important;
}

.onerrorImageModal {
    height: 237px !important;
    width: 375px !important;
}

.onerrorImageModalDrinks {
    height: 173px !important;
    width: 297px !important;
}

.cardItemContent {
    position: relative;
    height: 110px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -ms-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}

.itemPrice {
    position: absolute;
    right: 20px;
    top: 20px;
}

.cardTitle {
    position: absolute;
    top: 20px;
    left: 17px;
}

.pointer {
    cursor: pointer;
}

.itemImageText {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    position: absolute;
    display: none;
}

.cardImageContainer:hover .itemImageText,
.cardImageContainer:focus .itemImageText {
    z-index: 999;
    display: block;
}

.centeredContainer {
    padding: 0 140px;
}

.centeredContainer .cardTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 24px !important;
    width: 163px;
    font-weight: bold;
    display: inline-flex;
}

.centeredContainer .itemPrice {
    font-size: 18px;
    font-weight: bold;
    display: inline-flex;
    background-color: #cc1149;
    width: 108px;
    height: 32px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

footer {
    font-family: 'Lato', sans-serif;
    height: 50px;
    background-color: #c8b273;
    color: #FFFF;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalItem {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1000px;
    min-height: auto;
    padding: 41px 29px 26px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.modalItemTitle {
    margin-top: 41px;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
}

.modalItemTitleLine {
    background-color: #cc1149;
    margin-left: 20px;
    width: 100px;
    height: 3px;
}

.xModal {
    color: black !important;
    position: absolute;
    top: 34.9px;
    right: 34.9px;
}

.modaladds {
    display: inline-flex;
    margin: 28px 0px 28px 20px;
}


/* new food modal ingredients */

.foodModalIngredients {
    display: flex;
    flex-direction: column;
    width: 30%;
}


/* foodModalIngredientsParagraph */

.foodModalIngredientsParagraph {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 28px 0px 28px 20px;
}

.foodModalIngredientsList {
    list-style: none;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    margin-left: 26px;
}


/* foodModalExtras */

.foodModalExtrasParagraph {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 28px 30px;
}

ul#foodModalExtrasList>li>label {
    font-weight: normal;
    cursor: pointer;
}

.foodModalExtrasList {
    list-style: none;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0px 30px;
}

.foodModalExtras {
    display: flex;
    flex-direction: column;
    width: 30%;
}


/* foodModalItemImage */

.modalImageAndAllergensDiv {
    display: flex;
    flex-direction: column;
    margin: 21px 20px 0px 0px;
    width: 40%;
}

.foodModalAllergensParagraph {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    color: #cc1149;
    margin-top: 18px;
}


/* food modal note */

#foodModalNote {
    width: 100%;
    height: 91px;
    resize: none;
    border-radius: 5px;
    padding: 15px;
    border-color: #dadada;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 13px;
    margin-top: 55px;
}

.modalFooter {
    align-self: center;
}

.modalIngredients li:first-child,
.modalExtras li:first-child {
    margin-top: 28px;
}

.modalIngredients li,
.modalExtras li {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 22px;
    margin-left: 6px;
    min-height: 30px;
}

.modalExtras label {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 22px;
}

.modalExtras {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-left: 171px;
    width: 250px;
    list-style-type: none;
}

.modalItemImage {
    width: 280px;
    height: 173px;
    margin-right: 47px;
}

.modalItemCheck {
    color: #22b571;
    margin-right: 11px;
}


/* new */

#inModalContent {
    display: flex;
}


/*** custom checkboxes ***/

input[type=checkbox] {
    display: none;
}


/* to hide the checkbox itself */

input[type=checkbox]+label:before {
    font-family: FontAwesome;
    display: inline-block;
}

input[type=checkbox]+label:before {
    content: "\f096";
}


/* unchecked icon */

input[type=checkbox]+label:before {
    letter-spacing: 10px;
}


/* space between checkbox and label */

input[type=checkbox]:checked+label:before {
    content: "\f046";
    color: #22b571;
}


/* checked icon */

input[type=checkbox]:checked+label:before {
    letter-spacing: 5px;
}


/* allow space for check mark */

#modalNote {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    width: 897px;
    height: 91px;
    border: solid 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    padding: 15px;
    resize: none;
    border-color: #dadada;
}

#modalNote::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #dadada;
}

.modalDivider {
    width: 903px;
    height: 1px;
    color: #707070;
}


/* checkbox toggle */

label {
    margin-bottom: 0px;
}

.modalFooter {
    display: flex;
    align-items: center;
}

.tg-list {
    list-style-type: none;
    display: flex;
    width: 280px;
    height: 25px;
    margin-bottom: 0;
    align-items: center;
}

.tg-list p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    margin: 0 20px 0px 20px;
    height: 25px;
}

.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-light+.tgl-btn {
    background: #fff;
    border-radius: 2em;
    transition: all 0.4s ease;
}

.tgl-light+.tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}

.tgl-light:checked+.tgl-btn {
    background: #fff;
}

.tgl-ios+.tgl-btn {
    background: #fff;
    border-radius: 2em;
    transition: all 0.4s ease;
    border: 1px solid #c8b273;
}

.tgl-ios+.tgl-btn:after {
    border-radius: 2em;
    background: #c8b273;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -moz-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -ms-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -o-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
}

.tgl-ios:checked+.tgl-btn {
    background: #fff;
}

.tgl-ios:checked+.tgl-btn:active {
    box-shadow: none;
}

.eatThere {
    margin-left: 0px !important;
}

.eatOrPickSelected {
    border-bottom: 2px solid #c8b273;
}

.groupModalQuantity {
    display: flex;
    width: 211px;
    height: 25px;
    margin-left: 30px;
    align-items: center;
}

#modalQuantity {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.addAndRemoveModalQuantity {
    height: 25px;
    width: 25px;
    background-color: white;
    border: solid #dadada 1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 20px 0px 20px;
}

.addAndRemoveModalQuantity:focus {
    outline: none;
}

.addAndRemoveModalQuantity:hover {
    cursor: pointer;
}

#modalItemQuantity {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.modalAddToCart {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 18px;
    width: 197px;
    height: 58px;
    color: white;
    background-color: #c8b273;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 30px;
}

.modalAddToCart {
    cursor: pointer;
}

.modalFullPrice {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #c8b273;
    margin-left: 30px;
}


/* MENU START */


/* MENU BUTTONS AND MENU NAV */

.foodMenuNavigation {
    margin-left: 139px;
    display: flex;
    align-items: center;
    position: relative;
}

.foodMenuButton {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    color: #c8b273;
    height: 64px;
    padding: 0px 40px;
    font-weight: bold;
    justify-content: center;
    margin: 0px 30px;
    text-transform: uppercase;
    cursor: pointer;
}

.foodMenuButton:first-child {
    margin: 0px 30px 0px 0px !important;
}

.foodMenuButton:last-child {
    margin: 0px 0px 0px 30px !important;
}

.foodMenuButton:hover {
    cursor: pointer;
    color: rgb(250, 177, 115);
}

.foodMenuNavigation .selected {
    color: white;
    background-color: #c8b273;
}


/* DRINKS MODAL */

.drinksModalContent {
    min-width: 384px;
    min-height: 680px;
}

.drinksModalItemTitleLine {
    background-color: #cc1149;
    margin-left: 50px;
    width: 100px;
    height: 3px;
    border: none;
}

.drinksModalItemImage {
    width: 297px;
    height: 173px;
    margin-left: 44px;
    margin-top: 27px;
}

#drinksModalNote {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    width: 286px;
    height: 91px;
    margin: 27px 48px 0px 50px;
    border-radius: 5px;
    border: solid 1px #dadada;
    resize: none;
    padding: 15px;
}

#drinksModalNote::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #dadada;
}

.drinksModalDivider {
    width: 323px;
    margin-left: 31px;
    background-color: #e3e3e3;
    border: none;
    height: 1px;
    margin-top: 13px;
    margin-bottom: 0px;
}

.drinksModalFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drinksTgList {
    margin-top: 27px;
    width: unset;
}

.pickUpDrinks {
    margin-right: 0px;
}

.drinksGroupModalQuantity {
    margin-top: 14px;
    width: unset;
    margin-left: 0px;
}

.drinksModalAddToCart {
    margin: unset;
    margin-top: 27px;
}

.drinksModalFullPrice {
    margin: unset;
    margin-top: 14px;
    margin-bottom: 23px;
}

.drinksModalItemTitle {
    margin-left: 50px;
}


/* Dropdown menu */

.dropdown-main-button {
    height: 35px;
    position: absolute;
    right: 135px;
}

.dropdown-main-button:hover {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-main-button:focus {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-main-button:active {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-design {
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
    color: #c8b273;
    box-shadow: none !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.dropdown-design:hover {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-design:focus {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-design:active {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}


/* list view */

.listCardElement {
    display: flex;
}

.cardItemListContent {
    height: 138px;
    width: 100%;
    position: relative;
    border-radius: 0px 5px 5px 0px;
    background-color: white;
}

.imageListSize {
    height: 138px !important;
    width: 224px !important;
}

.cardListTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 40px !important;
    font-weight: bold;
    display: inline-flex;
    position: absolute;
    top: 35px;
    left: 36px;
}

.itemListPrice {
    font-size: 24px;
    font-weight: bold;
    display: inline-flex;
    background-color: #cc1149;
    width: 145px;
    height: 43px;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 37px;
    top: 45px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}


/* CARD */

.productContainer {
    align-items: center;
    display: flex;
    background-color: white;
    width: 1609px;
    height: 138px;
}

.removeProduct {
    margin-right: 39.5px;
    font-size: 30px;
    margin-left: 44.5px;
}

.cardProductImage {
    width: 164px;
    height: 100px;
}

.producCardTitle {
    padding-left: 41px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding-right: 555px;
}

.quantityContainer {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.quantityParagraph {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    padding-right: 35px;
}

.btnQuantityStyle {
    width: 35px;
    border: none;
    height: 36px;
}

.productQuantityNumber {
    margin: 0px 25px;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.containerCardPrice {
    color: white;
    margin-right: 37px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 43px;
    background-color: white;
    background-color: #CC1149;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.productCardPrice {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.quantityStyleButtons {
    height: 36px;
    width: 35px;
    background-color: white;
    border: solid #dadada 1px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 15px;
}

.removeProduct :hover {
    color: #CC1149;
}