/* HEADER ========================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:500&display=swap');

body {
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.info_on_top {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}


.header {
    background-image: linear-gradient(rgba(37, 37, 37, 0.6), rgba(63, 61, 61, 0.6)),url(../../assets/logo-wallpaper/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 350px;
}

.communication_tools a {
    text-decoration: none;
    color:rgb(165, 152, 94);
}

.inline_block{
    display: inline-block;
    padding: 10px;
    color:rgb(165, 152, 94);
}

.mail{
    cursor: pointer;
}


.button_tools {
    border-radius: 30px;
    border-color: rgba(187, 153, 99, 0.63);
    margin: 0px 10px;
}

.login_button {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(155, 156, 138);
    background-color: rgb(51, 49, 22, 0.6);
    cursor: pointer;
}

.cart_button {
    display: inline-block;
    padding: 10px;
    color: rgb(155, 156, 138);
    background-color: rgb(51, 49, 22, 0.6);
    cursor: pointer;
}

.login_button:hover, .cart_button:hover, .button-to-top:hover, #btn_send:hover {
    background-color: rgba(80, 78, 60, 0.6);
    box-shadow: 0px 8px 8px 0px rgb(32, 32, 32);
}

.main_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    padding-bottom: 20px;
}

.navbar li a {
    font-size: 60px;
    color:rgb(165, 152, 94);
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 30px;
}


.navbar li a:hover{
   color:rgb(118, 121, 84);
}




/* CONTACT =================================*/ 


.contact_menu {
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(75, 69, 69, 0.6), rgba(49, 47, 47, 0.6)),url(../../assets/logo-wallpaper/main-wallpaper.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px 20px;
}

.contact_left{
    margin: 0px 20px;
    padding: 20px;
    width: 800px;
    height: 760px;
    border-radius: 50px 0px 0px 50px ;
    background-color: rgba(173, 147, 147, 0.4);
    text-align: center;

}

.working_hours p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

.contact_right{
    margin: 0px 20px;
    padding: 20px;
    width: 800px;
    height: 760px;
    border-radius: 0px 50px 50px 0px;
    background-color: rgba(173, 147, 147, 0.4);
    text-align: center;
}

.number {
    text-align: center;
    height: 130px;
    margin:5px;
}

.phone {
    font-size: 30px;
}

.mail_form{
    text-align: center;
}

#name, #e-mail, #phone, #text {
    width: 400px;
    margin: 10px;
    font-size: 16px;
    background:rgba(59, 52, 52, 0.4);
    border: none;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.mail_form ::placeholder{
    color: black;
}

#btn_send{
    padding: 3px;
    font-size: 20px;
    border-radius: 30px;
    color: black;
    background-color: rgba(71, 71, 64, 0.5);
    cursor: pointer;
    border:none;
    width: 90px;
    font-family: 'Dancing Script', cursive;
}






/* FOOTER ========================== */

.navigation_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.nav-bottom li a{
    font-size: 40px;
}

.footer {
    height: 300px;
    padding: 20px;
    padding-bottom: 0px;
    background-image: linear-gradient(rgba(37, 37, 37, 0.6), rgba(63, 61, 61, 0.6)),url(../../assets/logo-wallpaper/footer-wallpaper_copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.div-to-top {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.button-to-top {
    display: inline-block;
    padding: 3px;
    font-size: 25px;
    border-radius: 30px;
    background-color: rgba(71, 71, 64, 0.5);
    cursor: pointer;
    border: none;
    width: 10%;
    text-decoration: none;
    color:rgb(165, 152, 94);
    font-family: 'Dancing Script', cursive;
}


.copyrights p {
    color:rgb(165, 152, 94, 0.7);
    text-align: center;
    padding: 2px;
}